<template>
<select
  multiple
  :value="value"
  @input="$emit('input', $event.target.value)">
  <option>Foo</option>
  <option>Bar</option>
</select>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: ["value"]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
