<template>
<div id="app">
  <p>Compare selecting multiple on both selects.</p>
  <h3>Not working custom input</h3>
  <MultipleSelect v-model="selected1"/>
  <p>{{ selected1 }}</p>

<h3>Working direct input</h3>
  <select
    multiple
    v-model="selected2">
    <option>Baz</option>
    <option>Quuz</option>
  </select>
  <p>{{ selected2}}</p>
</div>
</template>

<script>
import MultipleSelect from './components/MultipleSelect.vue'

export default {
  name: 'app',
  components: {
    MultipleSelect
  },
  data: function () {
    return {
      selected1: [],
      selected2: []
    }
  }
}
</script>

<style>
</style>
